html {
    height: 100%; /* Ensure full height coverage */
    background: linear-gradient(to bottom, #52489C 56%, #4062BB);
}

h1 {
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    color: #59C3C3;
    text-shadow: 2px 2px 0 #EBEBEB, 3px 3px 0 #EBEBEB;
    transform: skew(-10deg);
}

h1:hover {
    /*margin-top: 100px;
    font-size: 3.1em;
    text-shadow: 3px 3px 0 #EBEBEB, 4px 4px 0 #EBEBEB;*/
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #EBEBEB, 0 0 10px #EBEBEB, 0 0 15px #EBEBEB, 0 0 20px #EBEBEB, 0 0 25px #EBEBEB, 0 0 30px #EBEBEB, 0 0 35px #EBEBEB;
  }
  to {
    text-shadow: 0 0 25px #EBEBEB, 0 0 30px #52489C, 0 0 35px #52489C, 0 0 40px #52489C, 0 0 45px #52489C, 0 0 50px #52489C, 0 0 55px #52489C;
  }
}

#displayText {
  font-size: 18px;
  color: #fff;
}

.button-29 {
  margin-top: 2em;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #59C3C3 0, #4062BB 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #EBEBEB;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #4062BB 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #4062BB 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #314b8f 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #F45B69 0 3px 7px inset;
  transform: translateY(2px);
}